/* 导入阿里图标库css*/
@font-face {
  font-family: "iconfont"; /* Project id 3794034 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3794034_lx5tic9ypm.woff2?t=1669539588242') format('woff2'),
       url('//at.alicdn.com/t/c/font_3794034_lx5tic9ypm.woff?t=1669539588242') format('woff'),
       url('//at.alicdn.com/t/c/font_3794034_lx5tic9ypm.ttf?t=1669539588242') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e632";
}

.icon-pinglun1:before {
  content: "\e613";
}

.icon-a-22:before {
  content: "\edbd";
}

.icon-rili:before {
  content: "\e69c";
}

.icon-clock:before {
  content: "\e79e";
}

.icon-liulan:before {
  content: "\e612";
}

.icon-shuliangtongji:before {
  content: "\e668";
}

.icon-rili2:before {
  content: "\e71e";
}

.icon-0jianchajieguotongji:before {
  content: "\e62e";
}

.icon-gengxin:before {
  content: "\e65a";
}

.icon-dianzan:before {
  content: "\e62d";
}

.icon-gmail:before {
  content: "\e60b";
}

.icon-gitee:before {
  content: "\e611";
}

.icon-yaoqinghaoyou:before {
  content: "\ffde";
}

.icon-daohangfenlei:before {
  content: "\e61b";
}

.icon-liebiao:before {
  content: "\e61c";
}

.icon-shouyeshouye:before {
  content: "\e622";
}

.icon-shijianzhou:before {
  content: "\e67a";
}

.icon-dianying:before {
  content: "\e609";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-yinle:before {
  content: "\e667";
}

.icon-biaoqian:before {
  content: "\e615";
}

.icon-tongji:before {
  content: "\e610";
}

.icon-guanyu:before {
  content: "\e60e";
}

.icon-WEBqianduan:before {
  content: "\e61d";
}

.icon-zuijinliulan:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e644";
}

.icon-biaoqian1:before {
  content: "\e62c";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-fangkeliuyan:before {
  content: "\e60a";
}

.icon-dingwei:before {
  content: "\e61f";
}

.icon-tongji1:before {
  content: "\e60c";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-tongzhigonggao:before {
  content: "\e6b9";
}

.icon-shejiaotubiao-10:before {
  content: "\e641";
}

.icon-shejiaotubiao-06:before {
  content: "\e642";
}

.icon-fenlei:before {
  content: "\5c";
}

.icon-qq:before {
  content: "\e60d";
}

.icon-mendiangonggao:before {
  content: "\e76f";
}

.icon-shijianzhou1:before {
  content: "\e61e";
}



